<a href="https://colab.research.google.com/github/Rajaanthonysamy/pyspark/blob/main/01_pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pyspark

In [2]:
import pandas as pd
import random

# Generate sample data
data = {
    'username': [f'user_{i+1}' for i in range(5)],
    'age': [random.randint(18, 60) for _ in range(5)]
}

df = pd.DataFrame(data)

# Save to CSV
csv_filename = 'user_data.csv'
df.to_csv(csv_filename, index=False)

print(f"Dataset saved to {csv_filename}")
print(df)

Dataset saved to user_data.csv
  username  age
0   user_1   42
1   user_2   52
2   user_3   59
3   user_4   51
4   user_5   32

In [4]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Practise').getOrCreate()

In [5]:
spark

In [8]:
df_pyspark = spark.read.csv('user_data.csv',header=True,inferSchema=True)
df_pyspark.show()

+--------+---+
|username|age|
+--------+---+
|  user_1| 42|
|  user_2| 52|
|  user_3| 59|
|  user_4| 51|
|  user_5| 32|
+--------+---+

In [7]:
df_pyspark.show()

+--------+---+
|     _c0|_c1|
+--------+---+
|username|age|
|  user_1| 42|
|  user_2| 52|
|  user_3| 59|
|  user_4| 51|
|  user_5| 32|
+--------+---+

In [10]:
df_pysprk = spark.read.option('header','true').csv('user_data.csv')
df_pyspark.show()

+--------+---+
|username|age|
+--------+---+
|  user_1| 42|
|  user_2| 52|
|  user_3| 59|
|  user_4| 51|
|  user_5| 32|
+--------+---+

In [11]:
type(df_pyspark)

pyspark.sql.classic.dataframe.DataFrame

In [12]:
df_pyspark.head(2)

[Row(username='user_1', age=42), Row(username='user_2', age=52)]

In [13]:
df_pyspark.printSchema()

root
 |-- username: string (nullable = true)
 |-- age: integer (nullable = true)

<h1>Data Preprocessing</h1>

In [31]:
from pyspark.sql import SparkSession

second_spark = SparkSession.builder.appName("df_practise").getOrCreate()

In [36]:
second_spark

In [32]:
df = second_spark.read.option("headeer","true").csv("user_data.csv",inferSchema=True)

In [33]:
df.summary()

DataFrame[summary: string, _c0: string, _c1: string]

In [34]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)

In [35]:
df.describe()

DataFrame[summary: string, _c0: string, _c1: string]