<a href="https://colab.research.google.com/github/Rajaanthonysamy/pyspark/blob/main/03_pyspark_handling_missing_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1> Pysaprk handling missing values </h1>

Dropping Columns

Dropping Rows

Various Parameter in Dropping Functionalities

Handling missing values by Mean Meadian Mode

In [2]:
from pyspark.sql import SparkSession

spark_session = SparkSession.builder.appName("spark_practice").getOrCreate()

In [9]:
df = spark_session.read.csv(header=True, inferSchema=True, path="sample_data_pandas.csv")

In [10]:
df.show()

+-------+----+----------+--------+
|   Name| Age|Experience|  Salary|
+-------+----+----------+--------+
|  Alice|30.0|       5.0| 70000.0|
|    Bob|24.0|       2.0| 45000.0|
|Charlie|35.0|      10.0| 90000.0|
|  David|NULL|       3.0| 50000.0|
|    Eve|28.0|      NULL| 60000.0|
|  Frank|40.0|      15.0|    NULL|
|  Grace|22.0|       1.0| 40000.0|
|  Heidi|33.0|       7.0| 80000.0|
|   Ivan|NULL|       4.0| 55000.0|
|   Judy|29.0|      NULL| 65000.0|
|  Kevin|45.0|      20.0|100000.0|
|   Liam|26.0|       3.0|    NULL|
|    Mia|31.0|       6.0| 75000.0|
|   Noah|NULL|      NULL| 52000.0|
| Olivia|27.0|       4.0| 62000.0|
+-------+----+----------+--------+

In [11]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Experience: double (nullable = true)
 |-- Salary: double (nullable = true)

In [12]:
df.drop("Name").show()

+----+----------+--------+
| Age|Experience|  Salary|
+----+----------+--------+
|30.0|       5.0| 70000.0|
|24.0|       2.0| 45000.0|
|35.0|      10.0| 90000.0|
|NULL|       3.0| 50000.0|
|28.0|      NULL| 60000.0|
|40.0|      15.0|    NULL|
|22.0|       1.0| 40000.0|
|33.0|       7.0| 80000.0|
|NULL|       4.0| 55000.0|
|29.0|      NULL| 65000.0|
|45.0|      20.0|100000.0|
|26.0|       3.0|    NULL|
|31.0|       6.0| 75000.0|
|NULL|      NULL| 52000.0|
|27.0|       4.0| 62000.0|
+----+----------+--------+

In [14]:
df.na.drop().show()

+-------+----+----------+--------+
|   Name| Age|Experience|  Salary|
+-------+----+----------+--------+
|  Alice|30.0|       5.0| 70000.0|
|    Bob|24.0|       2.0| 45000.0|
|Charlie|35.0|      10.0| 90000.0|
|  Grace|22.0|       1.0| 40000.0|
|  Heidi|33.0|       7.0| 80000.0|
|  Kevin|45.0|      20.0|100000.0|
|    Mia|31.0|       6.0| 75000.0|
| Olivia|27.0|       4.0| 62000.0|
+-------+----+----------+--------+

In [16]:
## how = any

df.na.drop(how="any").show()

+-------+----+----------+--------+
|   Name| Age|Experience|  Salary|
+-------+----+----------+--------+
|  Alice|30.0|       5.0| 70000.0|
|    Bob|24.0|       2.0| 45000.0|
|Charlie|35.0|      10.0| 90000.0|
|  Grace|22.0|       1.0| 40000.0|
|  Heidi|33.0|       7.0| 80000.0|
|  Kevin|45.0|      20.0|100000.0|
|    Mia|31.0|       6.0| 75000.0|
| Olivia|27.0|       4.0| 62000.0|
+-------+----+----------+--------+

In [17]:
df.na.drop(how="all").show()

+-------+----+----------+--------+
|   Name| Age|Experience|  Salary|
+-------+----+----------+--------+
|  Alice|30.0|       5.0| 70000.0|
|    Bob|24.0|       2.0| 45000.0|
|Charlie|35.0|      10.0| 90000.0|
|  David|NULL|       3.0| 50000.0|
|    Eve|28.0|      NULL| 60000.0|
|  Frank|40.0|      15.0|    NULL|
|  Grace|22.0|       1.0| 40000.0|
|  Heidi|33.0|       7.0| 80000.0|
|   Ivan|NULL|       4.0| 55000.0|
|   Judy|29.0|      NULL| 65000.0|
|  Kevin|45.0|      20.0|100000.0|
|   Liam|26.0|       3.0|    NULL|
|    Mia|31.0|       6.0| 75000.0|
|   Noah|NULL|      NULL| 52000.0|
| Olivia|27.0|       4.0| 62000.0|
+-------+----+----------+--------+

In [22]:
df.na.drop(how="any", thresh=4).show() ### threshold value set for atlleast mentioned non null value should be there in row

+-------+----+----------+--------+
|   Name| Age|Experience|  Salary|
+-------+----+----------+--------+
|  Alice|30.0|       5.0| 70000.0|
|    Bob|24.0|       2.0| 45000.0|
|Charlie|35.0|      10.0| 90000.0|
|  Grace|22.0|       1.0| 40000.0|
|  Heidi|33.0|       7.0| 80000.0|
|  Kevin|45.0|      20.0|100000.0|
|    Mia|31.0|       6.0| 75000.0|
| Olivia|27.0|       4.0| 62000.0|
+-------+----+----------+--------+

In [23]:
df.na.drop(how="any", subset=["Age"]).show()

+-------+----+----------+--------+
|   Name| Age|Experience|  Salary|
+-------+----+----------+--------+
|  Alice|30.0|       5.0| 70000.0|
|    Bob|24.0|       2.0| 45000.0|
|Charlie|35.0|      10.0| 90000.0|
|    Eve|28.0|      NULL| 60000.0|
|  Frank|40.0|      15.0|    NULL|
|  Grace|22.0|       1.0| 40000.0|
|  Heidi|33.0|       7.0| 80000.0|
|   Judy|29.0|      NULL| 65000.0|
|  Kevin|45.0|      20.0|100000.0|
|   Liam|26.0|       3.0|    NULL|
|    Mia|31.0|       6.0| 75000.0|
| Olivia|27.0|       4.0| 62000.0|
+-------+----+----------+--------+

In [27]:
df.na.fill(value =1000000).show()

+-------+---------+----------+---------+
|   Name|      Age|Experience|   Salary|
+-------+---------+----------+---------+
|  Alice|     30.0|       5.0|  70000.0|
|    Bob|     24.0|       2.0|  45000.0|
|Charlie|     35.0|      10.0|  90000.0|
|  David|1000000.0|       3.0|  50000.0|
|    Eve|     28.0| 1000000.0|  60000.0|
|  Frank|     40.0|      15.0|1000000.0|
|  Grace|     22.0|       1.0|  40000.0|
|  Heidi|     33.0|       7.0|  80000.0|
|   Ivan|1000000.0|       4.0|  55000.0|
|   Judy|     29.0| 1000000.0|  65000.0|
|  Kevin|     45.0|      20.0| 100000.0|
|   Liam|     26.0|       3.0|1000000.0|
|    Mia|     31.0|       6.0|  75000.0|
|   Noah|1000000.0| 1000000.0|  52000.0|
| Olivia|     27.0|       4.0|  62000.0|
+-------+---------+----------+---------+

In [28]:
df.na.fill(value =1000000,subset=["Age"]).show()

+-------+---------+----------+--------+
|   Name|      Age|Experience|  Salary|
+-------+---------+----------+--------+
|  Alice|     30.0|       5.0| 70000.0|
|    Bob|     24.0|       2.0| 45000.0|
|Charlie|     35.0|      10.0| 90000.0|
|  David|1000000.0|       3.0| 50000.0|
|    Eve|     28.0|      NULL| 60000.0|
|  Frank|     40.0|      15.0|    NULL|
|  Grace|     22.0|       1.0| 40000.0|
|  Heidi|     33.0|       7.0| 80000.0|
|   Ivan|1000000.0|       4.0| 55000.0|
|   Judy|     29.0|      NULL| 65000.0|
|  Kevin|     45.0|      20.0|100000.0|
|   Liam|     26.0|       3.0|    NULL|
|    Mia|     31.0|       6.0| 75000.0|
|   Noah|1000000.0|      NULL| 52000.0|
| Olivia|     27.0|       4.0| 62000.0|
+-------+---------+----------+--------+

In [29]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=["Age", "Salary","Experience"],
    outputCols=["{}_imputed".format(c) for c in ["Age", "Salary","Experience"]]
).setStrategy("mean")

In [30]:
imputer.fit(df).transform(df).show()

+-------+----+----------+--------+------------------+-----------------+------------------+
|   Name| Age|Experience|  Salary|       Age_imputed|   Salary_imputed|Experience_imputed|
+-------+----+----------+--------+------------------+-----------------+------------------+
|  Alice|30.0|       5.0| 70000.0|              30.0|          70000.0|               5.0|
|    Bob|24.0|       2.0| 45000.0|              24.0|          45000.0|               2.0|
|Charlie|35.0|      10.0| 90000.0|              35.0|          90000.0|              10.0|
|  David|NULL|       3.0| 50000.0|30.833333333333332|          50000.0|               3.0|
|    Eve|28.0|      NULL| 60000.0|              28.0|          60000.0| 6.666666666666667|
|  Frank|40.0|      15.0|    NULL|              40.0|64923.07692307692|              15.0|
|  Grace|22.0|       1.0| 40000.0|              22.0|          40000.0|               1.0|
|  Heidi|33.0|       7.0| 80000.0|              33.0|          80000.0|               7.0|
|   Ivan|NULL|       4.0| 55000.0|30.833333333333332|          55000.0|               4.0|
|   Judy|29.0|      NULL| 65000.0|              29.0|          65000.0| 6.666666666666667|
|  Kevin|45.0|      20.0|100000.0|              45.0|         100000.0|              20.0|
|   Liam|26.0|       3.0|    NULL|              26.0|64923.07692307692|               3.0|
|    Mia|31.0|       6.0| 75000.0|              31.0|          75000.0|               6.0|
|   Noah|NULL|      NULL| 52000.0|30.833333333333332|          52000.0| 6.666666666666667|
| Olivia|27.0|       4.0| 62000.0|              27.0|          62000.0|               4.0|
+-------+----+----------+--------+------------------+-----------------+------------------+

In [31]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=["Age", "Salary","Experience"],
    outputCols=["{}_imputed".format(c) for c in ["Age", "Salary","Experience"]]
).setStrategy("median")

In [32]:
imputer.fit(df).transform(df).show()

+-------+----+----------+--------+-----------+--------------+------------------+
|   Name| Age|Experience|  Salary|Age_imputed|Salary_imputed|Experience_imputed|
+-------+----+----------+--------+-----------+--------------+------------------+
|  Alice|30.0|       5.0| 70000.0|       30.0|       70000.0|               5.0|
|    Bob|24.0|       2.0| 45000.0|       24.0|       45000.0|               2.0|
|Charlie|35.0|      10.0| 90000.0|       35.0|       90000.0|              10.0|
|  David|NULL|       3.0| 50000.0|       29.0|       50000.0|               3.0|
|    Eve|28.0|      NULL| 60000.0|       28.0|       60000.0|               4.0|
|  Frank|40.0|      15.0|    NULL|       40.0|       62000.0|              15.0|
|  Grace|22.0|       1.0| 40000.0|       22.0|       40000.0|               1.0|
|  Heidi|33.0|       7.0| 80000.0|       33.0|       80000.0|               7.0|
|   Ivan|NULL|       4.0| 55000.0|       29.0|       55000.0|               4.0|
|   Judy|29.0|      NULL| 65000.0|       29.0|       65000.0|               4.0|
|  Kevin|45.0|      20.0|100000.0|       45.0|      100000.0|              20.0|
|   Liam|26.0|       3.0|    NULL|       26.0|       62000.0|               3.0|
|    Mia|31.0|       6.0| 75000.0|       31.0|       75000.0|               6.0|
|   Noah|NULL|      NULL| 52000.0|       29.0|       52000.0|               4.0|
| Olivia|27.0|       4.0| 62000.0|       27.0|       62000.0|               4.0|
+-------+----+----------+--------+-----------+--------------+------------------+