<a href="https://colab.research.google.com/github/Rajaanthonysamy/pyspark/blob/main/05_pyspark_groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

# Generate sample data
num_records = 20
names = [f'Employee_{i+1}' for i in range(num_records)]
departments = np.random.choice(['HR', 'IOT', 'Marketing', 'Data Science', 'BigData'], num_records)
salaries = np.random.randint(40000, 120000, num_records)

# Create DataFrame
data = {
    'name': names,
    'department': departments,
    'salary': salaries
}
df = pd.DataFrame(data)

# Save to CSV
csv_file_path = 'employee_data.csv'
df.to_csv(csv_file_path, index=False)

print(f"CSV file '{csv_file_path}' created successfully.")

# Display the first few rows of the DataFrame
display(df.head())

CSV file 'employee_data.csv' created successfully.

         name    department  salary
0  Employee_1           IOT  117292
1  Employee_2  Data Science   71144
2  Employee_3  Data Science  116819
3  Employee_4       BigData   83338
4  Employee_5       BigData   78350

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark_session = SparkSession.builder.appName("Practise").getOrCreate()

In [6]:
df= spark_session.read.csv("employee_data.csv",inferSchema=True,header=True)

In [7]:
df.count()

20

In [8]:
df.show()

+-----------+------------+------+
|       name|  department|salary|
+-----------+------------+------+
| Employee_1|         IOT|117292|
| Employee_2|Data Science| 71144|
| Employee_3|Data Science|116819|
| Employee_4|     BigData| 83338|
| Employee_5|     BigData| 78350|
| Employee_6|          HR| 88350|
| Employee_7|         IOT| 84919|
| Employee_8|         IOT| 71565|
| Employee_9|         IOT|107830|
|Employee_10|         IOT| 76462|
|Employee_11|   Marketing|107973|
|Employee_12|          HR| 87811|
|Employee_13|     BigData|104935|
|Employee_14|     BigData| 96339|
|Employee_15|Data Science| 47397|
|Employee_16|          HR|106697|
|Employee_17|   Marketing| 78283|
|Employee_18|         IOT| 52436|
|Employee_19|          HR| 71998|
|Employee_20|          HR| 66914|
+-----------+------------+------+

In [9]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: integer (nullable = true)

In [14]:
df.groupBy("Department").max().show()

+------------+-----------+
|  Department|max(salary)|
+------------+-----------+
|         IOT|     117292|
|          HR|     106697|
|     BigData|     104935|
|   Marketing|     107973|
|Data Science|     116819|
+------------+-----------+

In [13]:
df.groupBy("Department").max().sort("max(salary)",ascending=False).show()

+------------+-----------+
|  Department|max(salary)|
+------------+-----------+
|         IOT|     117292|
|Data Science|     116819|
|   Marketing|     107973|
|          HR|     106697|
|     BigData|     104935|
+------------+-----------+

In [15]:
df.groupBy("Department").mean().show()

+------------+-----------------+
|  Department|      avg(salary)|
+------------+-----------------+
|         IOT|          85084.0|
|          HR|          84354.0|
|     BigData|          90740.5|
|   Marketing|          93128.0|
|Data Science|78453.33333333333|
+------------+-----------------+

In [16]:
df.groupBy("Department").count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|         IOT|    6|
|          HR|    5|
|     BigData|    4|
|   Marketing|    2|
|Data Science|    3|
+------------+-----+

In [20]:
df.agg({"Salary":"max"}).show()

+-----------+
|max(Salary)|
+-----------+
|     117292|
+-----------+

In [21]:
df.agg({"Salary":"min"}).show()

+-----------+
|min(Salary)|
+-----------+
|      47397|
+-----------+