In [1]:
import pyspark

In [2]:
spark=pyspark.sql.SparkSession.builder.appName("myapp").getOrCreate()

25/01/30 22:23:12 WARN Utils: Your hostname, raja-Latitude-3410 resolves to a loopback address: 127.0.1.1; using 192.168.1.33 instead (on interface wlp0s20f3)
25/01/30 22:23:12 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/01/30 22:23:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark.read.option("header","true").csv("data.csv").show()

+-------------------+-----------+-----------------+-----------------+-------+-----+-----+-------+----------------------+-----------------+--------------+------------------+-------------------+-----------------+----------+-----------+-----------+
|Station Liscense No|stationName|         latitude|        longitude|zipCode| city|state|country|isLoadBalancingEnabled|stationInputPower|ChargePoint Id| chargePointVendor|   chargePointModel|meterSerialNumber|socketType|connectorId|unitCostAmt|
+-------------------+-----------+-----------------+-----------------+-------+-----+-----+-------+----------------------+-----------------+--------------+------------------+-------------------+-----------------+----------+-----------+-----------+
|             TN0123|        SIV|9.449637291523294|77.78316020965576| 682020|Test1|   TN|  India|                 FALSE|                0|      KL0123_1|VENTEST98420212512|MYTEST1984202123512|MYSER984202123512|   CHAdeMO|          3|         20|
+-------------------+-----------+-----------------+-----------------+-------+-----+-----+-------+----------------------+-----------------+--------------+------------------+-------------------+-----------------+----------+-----------+-----------+

In [6]:
df_spark=spark.read.option("header","true").csv("data.csv")

In [7]:
df_spark.printSchema()

root
 |-- Station Liscense No: string (nullable = true)
 |-- stationName: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- zipCode: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- country: string (nullable = true)
 |-- isLoadBalancingEnabled: string (nullable = true)
 |-- stationInputPower: string (nullable = true)
 |-- ChargePoint Id: string (nullable = true)
 |-- chargePointVendor: string (nullable = true)
 |-- chargePointModel: string (nullable = true)
 |-- meterSerialNumber: string (nullable = true)
 |-- socketType: string (nullable = true)
 |-- connectorId: string (nullable = true)
 |-- unitCostAmt: string (nullable = true)

In [11]:
df_spark_infer=spark.read.option("header","true").csv("data.csv",inferSchema=True)

In [12]:
df_spark_infer.printSchema()

root
 |-- Station Liscense No: string (nullable = true)
 |-- stationName: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- zipCode: integer (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- country: string (nullable = true)
 |-- isLoadBalancingEnabled: boolean (nullable = true)
 |-- stationInputPower: integer (nullable = true)
 |-- ChargePoint Id: string (nullable = true)
 |-- chargePointVendor: string (nullable = true)
 |-- chargePointModel: string (nullable = true)
 |-- meterSerialNumber: string (nullable = true)
 |-- socketType: string (nullable = true)
 |-- connectorId: integer (nullable = true)
 |-- unitCostAmt: integer (nullable = true)

In [13]:
df_spark=spark.read.csv("data.csv",header=True,inferSchema=True)

In [15]:
df_spark.show()

+-------------------+-----------+-----------------+-----------------+-------+-----+-----+-------+----------------------+-----------------+--------------+------------------+-------------------+-----------------+----------+-----------+-----------+
|Station Liscense No|stationName|         latitude|        longitude|zipCode| city|state|country|isLoadBalancingEnabled|stationInputPower|ChargePoint Id| chargePointVendor|   chargePointModel|meterSerialNumber|socketType|connectorId|unitCostAmt|
+-------------------+-----------+-----------------+-----------------+-------+-----+-----+-------+----------------------+-----------------+--------------+------------------+-------------------+-----------------+----------+-----------+-----------+
|             TN0123|        SIV|9.449637291523294|77.78316020965576| 682020|Test1|   TN|  India|                 false|                0|      KL0123_1|VENTEST98420212512|MYTEST1984202123512|MYSER984202123512|   CHAdeMO|          3|         20|
+-------------------+-----------+-----------------+-----------------+-------+-----+-----+-------+----------------------+-----------------+--------------+------------------+-------------------+-----------------+----------+-----------+-----------+

In [16]:
df_spark.columns

['Station Liscense No',
 'stationName',
 'latitude',
 'longitude',
 'zipCode',
 'city',
 'state',
 'country',
 'isLoadBalancingEnabled',
 'stationInputPower',
 'ChargePoint Id',
 'chargePointVendor',
 'chargePointModel',
 'meterSerialNumber',
 'socketType',
 'connectorId',
 'unitCostAmt']

In [17]:
df_spark.head(3)

[Row(Station Liscense No='TN0123', stationName='SIV', latitude=9.449637291523294, longitude=77.78316020965576, zipCode=682020, city='Test1', state='TN', country='India', isLoadBalancingEnabled=False, stationInputPower=0, ChargePoint Id='KL0123_1', chargePointVendor='VENTEST98420212512', chargePointModel='MYTEST1984202123512', meterSerialNumber='MYSER984202123512', socketType='CHAdeMO', connectorId=3, unitCostAmt=20)]

In [18]:
df_spark.select("stationName").show()

+-----------+
|stationName|
+-----------+
|        SIV|
+-----------+

In [20]:
type(df_spark.select("stationName"))

pyspark.sql.dataframe.DataFrame

In [21]:
df_spark.select(["stationName","latitude"]).show()

+-----------+-----------------+
|stationName|         latitude|
+-----------+-----------------+
|        SIV|9.449637291523294|
+-----------+-----------------+

In [22]:
df_spark.dtypes

[('Station Liscense No', 'string'),
 ('stationName', 'string'),
 ('latitude', 'double'),
 ('longitude', 'double'),
 ('zipCode', 'int'),
 ('city', 'string'),
 ('state', 'string'),
 ('country', 'string'),
 ('isLoadBalancingEnabled', 'boolean'),
 ('stationInputPower', 'int'),
 ('ChargePoint Id', 'string'),
 ('chargePointVendor', 'string'),
 ('chargePointModel', 'string'),
 ('meterSerialNumber', 'string'),
 ('socketType', 'string'),
 ('connectorId', 'int'),
 ('unitCostAmt', 'int')]

In [23]:
df_spark.describe().show()

25/01/30 22:34:45 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+-------------------+-----------+-----------------+-----------------+--------+-----+-----+-------+-----------------+--------------+------------------+-------------------+-----------------+----------+-----------+-----------+
|summary|Station Liscense No|stationName|         latitude|        longitude| zipCode| city|state|country|stationInputPower|ChargePoint Id| chargePointVendor|   chargePointModel|meterSerialNumber|socketType|connectorId|unitCostAmt|
+-------+-------------------+-----------+-----------------+-----------------+--------+-----+-----+-------+-----------------+--------------+------------------+-------------------+-----------------+----------+-----------+-----------+
|  count|                  1|          1|                1|                1|       1|    1|    1|      1|                1|             1|                 1|                  1|                1|         1|          1|          1|
|   mean|               NULL|       NULL|9.449637291523294|77.78316020965576|682020.0| NULL| NULL|   NULL|              0.0|          NULL|              NULL|               NULL|             NULL|      NULL|        3.0|       20.0|
| stddev|               NULL|       NULL|             NULL|             NULL|    NULL| NULL| NULL|   NULL|             NULL|          NULL|              NULL|               NULL|             NULL|      NULL|       NULL|       NULL|
|    min|             TN0123|        SIV|9.449637291523294|77.78316020965576|  682020|Test1|   TN|  India|                0|      KL0123_1|VENTEST98420212512|MYTEST1984202123512|MYSER984202123512|   CHAdeMO|          3|         20|
|    max|             TN0123|        SIV|9.449637291523294|77.78316020965576|  682020|Test1|   TN|  India|                0|      KL0123_1|VENTEST98420212512|MYTEST1984202123512|MYSER984202123512|   CHAdeMO|          3|         20|
+-------+-------------------+-----------+-----------------+-----------------+--------+-----+-----+-------+-----------------+--------------+------------------+-------------------+-----------------+----------+-----------+-----------+

In [25]:
df_spark.withColumn("newColumn",df_spark["latitude"]*2).show()

+-------------------+-----------+-----------------+-----------------+-------+-----+-----+-------+----------------------+-----------------+--------------+------------------+-------------------+-----------------+----------+-----------+-----------+------------------+
|Station Liscense No|stationName|         latitude|        longitude|zipCode| city|state|country|isLoadBalancingEnabled|stationInputPower|ChargePoint Id| chargePointVendor|   chargePointModel|meterSerialNumber|socketType|connectorId|unitCostAmt|         newColumn|
+-------------------+-----------+-----------------+-----------------+-------+-----+-----+-------+----------------------+-----------------+--------------+------------------+-------------------+-----------------+----------+-----------+-----------+------------------+
|             TN0123|        SIV|9.449637291523294|77.78316020965576| 682020|Test1|   TN|  India|                 false|                0|      KL0123_1|VENTEST98420212512|MYTEST1984202123512|MYSER984202123512|   CHAdeMO|          3|         20|18.899274583046587|
+-------------------+-----------+-----------------+-----------------+-------+-----+-----+-------+----------------------+-----------------+--------------+------------------+-------------------+-----------------+----------+-----------+-----------+------------------+

In [27]:
df_spark.drop("newColumn").show()

+-------------------+-----------+-----------------+-----------------+-------+-----+-----+-------+----------------------+-----------------+--------------+------------------+-------------------+-----------------+----------+-----------+-----------+
|Station Liscense No|stationName|         latitude|        longitude|zipCode| city|state|country|isLoadBalancingEnabled|stationInputPower|ChargePoint Id| chargePointVendor|   chargePointModel|meterSerialNumber|socketType|connectorId|unitCostAmt|
+-------------------+-----------+-----------------+-----------------+-------+-----+-----+-------+----------------------+-----------------+--------------+------------------+-------------------+-----------------+----------+-----------+-----------+
|             TN0123|        SIV|9.449637291523294|77.78316020965576| 682020|Test1|   TN|  India|                 false|                0|      KL0123_1|VENTEST98420212512|MYTEST1984202123512|MYSER984202123512|   CHAdeMO|          3|         20|
+-------------------+-----------+-----------------+-----------------+-------+-----+-----+-------+----------------------+-----------------+--------------+------------------+-------------------+-----------------+----------+-----------+-----------+

In [28]:
df_spark.withColumnRenamed("stationName","stationname").show()

+-------------------+-----------+-----------------+-----------------+-------+-----+-----+-------+----------------------+-----------------+--------------+------------------+-------------------+-----------------+----------+-----------+-----------+
|Station Liscense No|stationname|         latitude|        longitude|zipCode| city|state|country|isLoadBalancingEnabled|stationInputPower|ChargePoint Id| chargePointVendor|   chargePointModel|meterSerialNumber|socketType|connectorId|unitCostAmt|
+-------------------+-----------+-----------------+-----------------+-------+-----+-----+-------+----------------------+-----------------+--------------+------------------+-------------------+-----------------+----------+-----------+-----------+
|             TN0123|        SIV|9.449637291523294|77.78316020965576| 682020|Test1|   TN|  India|                 false|                0|      KL0123_1|VENTEST98420212512|MYTEST1984202123512|MYSER984202123512|   CHAdeMO|          3|         20|
+-------------------+-----------+-----------------+-----------------+-------+-----+-----+-------+----------------------+-----------------+--------------+------------------+-------------------+-----------------+----------+-----------+-----------+

In [30]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("myapp").getOrCreate()

In [37]:
data=spark.read.csv("data.csv",header=True,inferSchema=True)

In [38]:
data.show()

+-------------+----------+------+----+
|         Name|Experience|Salary| Age|
+-------------+----------+------+----+
|     John Doe|         5| 75000|  28|
|   Jane Smith|      NULL| 92000|NULL|
|   Ravi Kumar|        10|105000|  36|
|  Maria Lopez|         3|  NULL|  25|
|   Anil Singh|         7| 89000|  31|
|         NULL|         4| 72000|NULL|
|Carlos Garcia|      NULL|115000|  40|
|    Wei Zhang|         6| 81000|  30|
|   Nina Patel|         9|  NULL|  34|
| Arjun Sharma|         2| 60000|  24|
+-------------+----------+------+----+

In [39]:
data.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Age: integer (nullable = true)

In [40]:
cln_data=data.drop("Name")

In [43]:
cln_data.show()

+----------+------+----+
|Experience|Salary| Age|
+----------+------+----+
|         5| 75000|  28|
|      NULL| 92000|NULL|
|        10|105000|  36|
|         3|  NULL|  25|
|         7| 89000|  31|
|         4| 72000|NULL|
|      NULL|115000|  40|
|         6| 81000|  30|
|         9|  NULL|  34|
|         2| 60000|  24|
+----------+------+----+

In [44]:
cln_data.dropna().show()

+----------+------+---+
|Experience|Salary|Age|
+----------+------+---+
|         5| 75000| 28|
|        10|105000| 36|
|         7| 89000| 31|
|         6| 81000| 30|
|         2| 60000| 24|
+----------+------+---+

In [45]:
cln_data.na.drop().show()

+----------+------+---+
|Experience|Salary|Age|
+----------+------+---+
|         5| 75000| 28|
|        10|105000| 36|
|         7| 89000| 31|
|         6| 81000| 30|
|         2| 60000| 24|
+----------+------+---+

In [48]:
### threshold
cln_data.na.drop(thresh=3).show()

+----------+------+---+
|Experience|Salary|Age|
+----------+------+---+
|         5| 75000| 28|
|        10|105000| 36|
|         7| 89000| 31|
|         6| 81000| 30|
|         2| 60000| 24|
+----------+------+---+

In [49]:
### SUBSET
cln_data.na.drop(subset=["Age"]).show()

+----------+------+---+
|Experience|Salary|Age|
+----------+------+---+
|         5| 75000| 28|
|        10|105000| 36|
|         3|  NULL| 25|
|         7| 89000| 31|
|      NULL|115000| 40|
|         6| 81000| 30|
|         9|  NULL| 34|
|         2| 60000| 24|
+----------+------+---+

In [57]:
mis_data=data.na.fill("missing value","Age")

In [58]:
mis_data.show()

+-------------+----------+------+----+
|         Name|Experience|Salary| Age|
+-------------+----------+------+----+
|     John Doe|         5| 75000|  28|
|   Jane Smith|      NULL| 92000|NULL|
|   Ravi Kumar|        10|105000|  36|
|  Maria Lopez|         3|  NULL|  25|
|   Anil Singh|         7| 89000|  31|
|         NULL|         4| 72000|NULL|
|Carlos Garcia|      NULL|115000|  40|
|    Wei Zhang|         6| 81000|  30|
|   Nina Patel|         9|  NULL|  34|
| Arjun Sharma|         2| 60000|  24|
+-------------+----------+------+----+

In [59]:
from pyspark.ml.feature import Imputer

imputer=Imputer(inputCols=["Age","Salary","Experience"],
                outputCols=[c+"_Imputed" for c in ["Age","Salary","Experience"]],
                strategy="mean")

In [61]:
imputer.fit(data).transform(data).show()

+-------------+----------+------+----+-----------+--------------+------------------+
|         Name|Experience|Salary| Age|Age_Imputed|Salary_Imputed|Experience_Imputed|
+-------------+----------+------+----+-----------+--------------+------------------+
|     John Doe|         5| 75000|  28|         28|         75000|                 5|
|   Jane Smith|      NULL| 92000|NULL|         31|         92000|                 5|
|   Ravi Kumar|        10|105000|  36|         36|        105000|                10|
|  Maria Lopez|         3|  NULL|  25|         25|         86125|                 3|
|   Anil Singh|         7| 89000|  31|         31|         89000|                 7|
|         NULL|         4| 72000|NULL|         31|         72000|                 4|
|Carlos Garcia|      NULL|115000|  40|         40|        115000|                 5|
|    Wei Zhang|         6| 81000|  30|         30|         81000|                 6|
|   Nina Patel|         9|  NULL|  34|         34|         86125|                 9|
| Arjun Sharma|         2| 60000|  24|         24|         60000|                 2|
+-------------+----------+------+----+-----------+--------------+------------------+

# PySpark Dataframes

&,|,==
~

In [62]:
### Filter operation
from pyspark.sql import SparkSession
filter_spark=SparkSession.builder.appName("filter").getOrCreate()

25/01/31 21:02:29 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [64]:
fil_data=filter_spark.read.csv("data.csv",header=True,inferSchema=True)

In [65]:
fil_data.show()

+-------------+----------+------+----+
|         Name|Experience|Salary| Age|
+-------------+----------+------+----+
|     John Doe|         5| 75000|  28|
|   Jane Smith|      NULL| 92000|NULL|
|   Ravi Kumar|        10|105000|  36|
|  Maria Lopez|         3|  NULL|  25|
|   Anil Singh|         7| 89000|  31|
|         NULL|         4| 72000|NULL|
|Carlos Garcia|      NULL|115000|  40|
|    Wei Zhang|         6| 81000|  30|
|   Nina Patel|         9|  NULL|  34|
| Arjun Sharma|         2| 60000|  24|
+-------------+----------+------+----+

In [66]:
cln_fil_data=fil_data.dropna()

In [67]:
cln_fil_data.show()

+------------+----------+------+---+
|        Name|Experience|Salary|Age|
+------------+----------+------+---+
|    John Doe|         5| 75000| 28|
|  Ravi Kumar|        10|105000| 36|
|  Anil Singh|         7| 89000| 31|
|   Wei Zhang|         6| 81000| 30|
|Arjun Sharma|         2| 60000| 24|
+------------+----------+------+---+

In [74]:
cln_fil_data.filter("Salary>80000").show()

+----------+----------+------+---+
|      Name|Experience|Salary|Age|
+----------+----------+------+---+
|Ravi Kumar|        10|105000| 36|
|Anil Singh|         7| 89000| 31|
| Wei Zhang|         6| 81000| 30|
+----------+----------+------+---+

In [75]:
cln_fil_data.filter(cln_fil_data["Salary"]>80000).show()

+----------+----------+------+---+
|      Name|Experience|Salary|Age|
+----------+----------+------+---+
|Ravi Kumar|        10|105000| 36|
|Anil Singh|         7| 89000| 31|
| Wei Zhang|         6| 81000| 30|
+----------+----------+------+---+

In [77]:
cln_fil_data.select("Salary").show()

+------+
|Salary|
+------+
| 75000|
|105000|
| 89000|
| 81000|
| 60000|
+------+

In [84]:
cln_fil_data.filter((cln_fil_data["Salary"]>80000) &
                    (cln_fil_data["Experience"]>=7)).select(
                        ["Name","Salary"]).show()

+----------+------+
|      Name|Salary|
+----------+------+
|Ravi Kumar|105000|
|Anil Singh| 89000|
+----------+------+

In [86]:
cln_fil_data.filter(~(cln_fil_data["Salary"]>80000) &
                    ~(cln_fil_data["Experience"]>=7)).select(
                        ["Name","Salary"]).show()

+------------+------+
|        Name|Salary|
+------------+------+
|    John Doe| 75000|
|Arjun Sharma| 60000|
+------------+------+

In [87]:
### Group by and Aggregate function

In [100]:
from pyspark.sql import SparkSession
grp_spark=SparkSession.builder.appName("groupby").getOrCreate()

In [101]:
grp_data=grp_spark.read.csv("data_test.csv",header=True,inferSchema=True)

In [102]:
grp_data.show()

+-------------+-----------+------+----------+
|         Name| Department|Salary|Experience|
+-------------+-----------+------+----------+
|     John Doe|    Finance| 75000|         5|
|   Jane Smith|         HR| 92000|         8|
|   Ravi Kumar|Engineering|105000|        10|
|  Maria Lopez|  Marketing| 65000|         3|
|   Anil Singh|      Sales| 89000|         7|
|  Emily Davis|    Finance| 72000|         4|
|Carlos Garcia|Engineering|115000|        12|
|    Wei Zhang|         HR| 81000|         6|
|   Nina Patel|  Marketing| 97000|         9|
| Arjun Sharma|      Sales| 60000|         2|
+-------------+-----------+------+----------+

In [103]:
grp_data.groupBy("Department").max().show()

+-----------+-----------+---------------+
| Department|max(Salary)|max(Experience)|
+-----------+-----------+---------------+
|      Sales|      89000|              7|
|Engineering|     115000|             12|
|         HR|      92000|              8|
|    Finance|      75000|              5|
|  Marketing|      97000|              9|
+-----------+-----------+---------------+

In [104]:
grp_data.groupBy("Department").mean().show()

+-----------+-----------+---------------+
| Department|avg(Salary)|avg(Experience)|
+-----------+-----------+---------------+
|      Sales|    74500.0|            4.5|
|Engineering|   110000.0|           11.0|
|         HR|    86500.0|            7.0|
|    Finance|    73500.0|            4.5|
|  Marketing|    81000.0|            6.0|
+-----------+-----------+---------------+

In [105]:
grp_data.groupBy("Department").count().show()

+-----------+-----+
| Department|count|
+-----------+-----+
|      Sales|    2|
|Engineering|    2|
|         HR|    2|
|    Finance|    2|
|  Marketing|    2|
+-----------+-----+

In [107]:
grp_data.agg({"Salary":"sum"}).show()

+-----------+
|sum(Salary)|
+-----------+
|     851000|
+-----------+

In [109]:
grp_data.agg({"Salary":"Max","Experience":"Max"}).show()

+-----------+---------------+
|max(Salary)|max(Experience)|
+-----------+---------------+
|     115000|             12|
+-----------+---------------+